@model WM.Northwind.Entities.ComplexTypes.IlacTakip.EczaneGrupDetay

@{
    ViewBag.Title = "Details";
}

<h4>Detaylar</h4>

<div>
    <h4>Eczane Grup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EczaneAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EczaneAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.EczaneGrupId }, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Eczane Grup Listesi", "Index", null, new { @class = "btn btn-outline-warning" })
</p>
