@model WM.Northwind.Entities.ComplexTypes.IlacTakip.TeklifDetay
@{
    ViewBag.Title = "Details";
}

<h4>Teklif Detay</h4>

<div>
    <h4>Teklif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>


    </dl>

</div>
<p>
    @Html.ActionLink("Düzenle", "Edit",null, new { id = Model.Id, @class = "btn btn-sm btn-primary" }) 
    @Html.ActionLink("Geri Dön", "Index",null, new { @class = "btn btn-sm btn-warning" })
</p>

@section Styles{
    @Styles.Render("~/bundle/jqueryui/style")
}