@model WM.Northwind.Entities.Concrete.IlacTakip.EczaneUser

@{
    ViewBag.Title = "Delete";
}

<h4>Delete</h4>
@if (TempData["Message"] != null)
{
    <p>&nbsp;</p>
    <div class="alert alert-danger">
        <i class="fa fa-info-circle fa-3x"></i>
        <br />
        @TempData["Message"]
    </div>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eczane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EczaneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EczaneId)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Dön", "Index", new { @class = "btn btn-warning" })
        </div>
    }
</div>

@section Styles{
    @Styles.Render("~/bundle/jqueryui/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/queryui/scripts")

    <script>

        setTimeout(function () { $('.alert').fadeOut(500); }, 3000);

    </script>
}